.inicioSesion{
  background-color: #f5f2f2d1;
  margin: 5em 10em;
    }
button{
  padding: 1em;
  width: 8em;
  background-color: #29A19C;
  border: none;
  border-radius: .5em;
  color: white;
  cursor: pointer;
  display: inline-block;
   }
button:hover{
  background-color: rgb(100, 206, 202);
}
button:disabled{
  background-color:  #E6E6E6;
}
  .user-profile {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .user-logout{
    position: fixed;
    top: 20px;
    right: 80px;
    width: 80px;
    height: 80px;
  }
  .intro{
    color: #424242;
    font-size: 1.5em;
    margin: 1em;
    font-weight: bolder;
    width: 15em;
  }
  .user-profile img {
    border-radius: 50%;
    max-width: 100%;
    width: 100px;
    height: 100px;
  }

  .App-header {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
  }

  .botones{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 10%;
  }

  .botones button{
    width: 14em;  
  }