.App-title{
    display: flex;
    text-align: center;
    justify-content: center;
}
.App-title p{
    color: #424242;
    font-size: 3vw;
    text-align: center;
    width: auto;
    font-weight: 300;
}
