/*
.containerCentral{
    background: url(./../img/background_uno.jpeg);
    background-position: center;
    object-fit: cover;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
*/